.btn-primary{
  /*background-color: midnightblue;*/
  /*color: azure;*/
  /*border-radius: 3rem;*/
  background-color: darkslategray;
  color: khaki;
  border-radius: 3rem;
  border-color: cadetblue;
}

.back{
  background-color: rgba(255,207,62,0.4);
}

.oculto{
  display: none;
}

.visible{
  display: block;
}
