<div class="container py-4">
  <div class="row justify-content-center text-center">

    <div class="col-md-6 col-sm-12 col-lg-12">
      <div class="card">
        <h4 class="card-title py-3">¿Qué visitar?</h4>
        <p class="card-text">Los dueños y poseedores de las casas que adornan las calles de este icónico municipio con una arquitectura colonial. Aunque la casas son de diferentes propietarios, no pueden ser alteradas o modificadas sus fachadas debido a su nombramiento como <strong>Monumento Nacional de Colombia.</strong> Tiene muchos sitios que puedes visitar, entre ellos Los Estoraques: Parque Nacional Natural,  El Parque Natural Yaraguá, Mirador Los Pinos y Arquitectura colonial.</p>
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/images/img-col1/visitar-1.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/img-col1/visitar-2.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/img-col1/visitar-3.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/img-col1/visitar-4.jpg" class="card-img-top" alt="...">
          </div>
        </div>


<!--        &lt;!&ndash;        <img src="assets/images/uyuni3.jpeg" class="card-img-top" alt="...">&ndash;&gt;
        <div class="card-body">
          <p class="card-text">La autenticidad del destino, un transporte asequible y la amabilidad de los locales hacen que cada uno de los lugares visitados sea único. Existe variedad en los días de travesía según el tour elegido.</p>
          &lt;!&ndash;          <a href="#" class="btn btn-primary">Ver más</a>&ndash;&gt;
        </div>-->
      </div>
    </div>

    <!--    -->

    <!--    -->
    <br>

    <div class="col-md-6 col-sm-12 col-lg-6 py-4">
      <div class="card">
        <h5 class="card-title py-3">¿Cómo llegar?</h5>
        <img src="assets/images/img-col1/llegar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <!--          <h5 class="card-title">¿Cómo llegar?</h5>-->
          <!--          <p class="card-text">Situado en Potosí, al sur de Bolivia. -->
          <!--            Se trata de una zona de difícil acceso, por lo que la mayoría de los visitantes -->
          <!--            lo hacen con un tour organizado desde diferentes puntos de la región sudamericana.</p>-->
          <p class="card-text"> Al ser un lugar hermoso pero de difícil acceso, los visitantes normalmente deben llegar a Cúcuta o Bucaramanga y tomar un transporte terrrestre que los dirija hacia Ocaña y luego la Playa de Belén. </p>
          <!--          <p class="text-center">-->
          <!--            <b>Transporte hasta Uyuni, ¿cómo llegar?</b><br>-->
          <!--            El lugar ideal para contratar el tour por el Salar de Uyuni es la propia localidad de Uyuni pues al haber más competencia entre agencias los precios son más baratos que si haces el tour desde Tupiza (en toda la región hay hasta 60 agencias operadoras). Para llegar a Uyuni puedes hacerlo bien desde Villazón (frontera con Argentina), desde La Paz o desde Potosí.-->
          <!--            <br>-->
          <!--            Desde Villazón a Uyuni:<br>-->
          <!--            Bus: 35 Bolivianos 12 horas (via Tupiza sobre una carretera infernal y no recomendable)<br>-->
          <!--            Tren: 56 Bolivianos 9 horas (tren turístico relativamente cómodo)<br>-->
          <!--            Desde La Paz a Uyuni:<br>-->
          <!--            Bus: 270 Bolivianos 12 horas de trayecto nocturno (bus turístico con todas las comodidades)<br>-->
          <!--            Desde Potosí a Uyuni:<br>-->
          <!--            Bus: 30 Bolivianos 4 horas de trayecto (bus local)-->
          <!--          </p>-->
          <!--          <a class="btn btn-primary" routerLink="/transportebol">Ver más</a>-->
          <!--          <button type="submit" class="btn btn-primary py-2 float-right" (click)="mostrar()">Ver MAS</button>-->
        </div>
      </div>
    </div>
    <br>



    <div class="col-md-6 col-sm-12 col-lg-6 py-4">
      <div class="card">
        <h5 class="card-title py-3">¿Dónde hospedarse?</h5>
        <img src="assets/images/img-col1/hospedarse.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <!--          <h5 class="card-title">¿Dónde hospedarse?</h5>-->
          <p class="card-text">
            Existen diferentes opciones para hospedarse en la ciudad, hoteles coloniales urbanos con o sin piscina, en casas de campo cercanas y en un domo desde un mirador.
          </p>
          <!--          <a href="#" class="btn btn-primary">Ver más</a>-->
        </div>
      </div>
    </div>
    <br>

    <div class="col-md-6 col-sm-12 col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-4">
            <img src="assets/images/img-col1/comer-3.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-4">
            <img src="assets/images/img-col1/comer-2.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-4">
            <img src="assets/images/img-col1/comer-1.jpg" class="card-img-top" alt="...">
          </div>
        </div>

        <!--        <img src="assets/images/uyuni-food.jpeg" class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title">¿Qué comer?</h5>
          <p class="card-text">Destacado por sus tradiciones culinarias, ofrecen diferentes platos como la arepa de maíz rellena de queso, aguacate y/o carnes, mute, ajiaco, sopa de fríjol, cebollitas Ocañeras encurtidas, hayacas, entre otras delicias.</p>
          <!--          <a href="#" class="btn btn-primary">Ver más</a>-->
        </div>
      </div>
    </div>
    <br>


  </div>
</div>


<!--<div class="container">-->
<!--  <div class="row justify-content-center text-center">-->

<!--    <div class="col-md-6 col-sm-12 col-lg-3">-->
<!--      <div class="card">-->
<!--        <img src="assets/images/uyuni2_1.jpeg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">¿Cómo llegar</h5>-->
<!--          <p class="card-text">Situado en Potosí, al sur de Bolivia. Se trata de una zona de difícil acceso, por lo que la mayoría de los visitantes lo hacen con un tour organizado desde diferentes puntos de la región sudamericana.</p>-->
<!--&lt;!&ndash;          <a class="btn btn-primary" routerLink="/transportebol">Ver más</a>&ndash;&gt;-->
<!--          <button type="submit" class="btn btn-primary py-2 float-right" (click)="mostrar()">Ver MAS</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <br>-->

<!--    <div class="col-md-6 col-sm-12 col-lg-3">-->
<!--      <div class="card">-->
<!--        <img src="assets/images/uyuni3.jpeg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">¿Qué visitar?</h5>-->
<!--          <p class="card-text">La autenticidad del destino, un transporte asequible y la amabilidad de los locales hacen que cada uno de los lugares visitados sea único. Existe variedad en los días de travesía según el tour elegido.</p>-->
<!--          <a href="#" class="btn btn-primary">Ver más</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <br>-->

<!--    <div class="col-md-6 col-sm-12 col-lg-3">-->
<!--      <div class="card">-->
<!--        <img src="assets/images/salar-domos.jpeg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">¿Dónde hospedarse?</h5>-->
<!--          <p class="card-text">Existen diferentes opciones donde quedarse, ya sea en la ciudad o en alguno de los hoteles de sal situados en Colchani (cerca de la ciudad de Uyuni) y, prácticamente, sobre el Salar de Uyuni.</p>-->
<!--          <a href="#" class="btn btn-primary">Ver más</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <br>-->

<!--    <div class="col-md-6 col-sm-12 col-lg-3">-->
<!--      <div class="card">-->
<!--        <img src="assets/images/uyuni-food.jpeg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">¿Qué comer?</h5>-->
<!--          <p class="card-text">La mayoría de los restaurantes superan las expectativas, estos suelen ofertar una cocina internacional apta para todos los paladares. Aunque el verdadero encanto son los platos de la cocina tradicional.</p>-->
<!--          <a href="#" class="btn btn-primary">Ver más</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <br>-->


<!--  </div>-->
<!--</div>-->



