<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Playa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container py-4">
  <div class="row justify-content-center text-center">
    <div class="col-md-6 col-sm-12 col-lg-12">
      <div class="card">
        <h4 class="card-title py-3">{{preg1}}</h4>
        <p class="card-text">Los dueños y poseedores de las casas que adornan las calles de este icónico municipio con una arquitectura colonial. Aunque la casas son de diferentes propietarios, no pueden ser alteradas o modificadas sus fachadas debido a su nombramiento como <strong>Monumento Nacional de Colombia.</strong> Tiene muchos sitios que puedes visitar, entre ellos Los Estoraques: Parque Nacional Natural,  El Parque Natural Yaraguá, Mirador Los Pinos y Arquitectura colonial.</p>
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/images/img-col1/visitar-1.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/img-col1/visitar-2.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/img-col1/visitar-3.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/img-col1/visitar-4.jpg" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6 col-sm-12 col-lg-6 py-4">
      <div class="card">
        <h5 class="card-title py-3">{{preg2}}</h5>
        <img src="assets/images/img-col1/llegar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Al ser un lugar de difícil acceso, los visitantes normalmente deben llegar a Cúcuta o Bucaramanga y tomar un transporte terrrestre que los dirija hacia Ocaña y luego la Playa de Belén. </p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6 col-sm-12 col-lg-6 py-4">
      <div class="card">
        <h5 class="card-title py-3">{{preg3}}</h5>
        <img src="assets/images/img-col1/hospedarse.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Existen diferentes opciones para hospedarse en la ciudad, hoteles coloniales urbanos con o sin piscina, en casas de campo cercanas y en un domo desde un mirador.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6 col-sm-12 col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-4">
            <img src="assets/images/img-col1/comer-3.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-4">
            <img src="assets/images/img-col1/comer-2.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-4">
            <img src="assets/images/img-col1/comer-1.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{preg4}}</h5>
          <p class="card-text">Destacado por sus tradiciones culinarias, ofrecen diferentes platos como la arepa de maíz rellena de queso, aguacate y/o carnes, mute, ajiaco, sopa de fríjol, cebollitas Ocañeras encurtidas, hayacas, entre otras delicias.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</body>
</html>
