.btn-primary{
  background-color: midnightblue;
  color: azure;
  border-radius: 2rem;
}

.hidden{
  display: none;
}

.unhidden{
  display: block;
}

.colorb{
  background-color: rgba(255,207,62,0.8);
}
