.btn-primary{
  color: midnightblue;
  border-radius: 2rem;
  border-color: cadetblue;
}

.hidden{
  display: none;
}

.unhidden{
  display: block;
}

.colorb{
  background-color: rgba(255,207,62,0.8);
}
