<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AppWeb-ZADIAL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<app-navbar></app-navbar>
<br>
<div>
  <div class="row">
    <div class="col">
      <div class="carousel-item">
        <img src="assets/images/general/inicial.jpg" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Es tiempo de Viajar</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  <app-contactos></app-contactos>

  <div class="text-center pt-4 pb-4">
    <!-- Button trigger modal -->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Información
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Bienvenid@ a {{name}}!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Puedes ver nuestras opciones de viaje en los sitios turísticos de Bolivia y Colombia. Disfruta el recorrido.
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
</body>
</html>
