<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>footer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<footer>
  <div class="card text-center colorb">
  <div class="card-header">
      {{name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Contáctanos</h5>
      <p class="card-text">
        Email: zadial@gmail.com<br>Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
</body>
</html>
