<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AppWeb-ZADIAL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<h1 class="justify-content-center text-center py-2  pb-5 nom2">Nosotros</h1>
<img class="img-fluid pb-2" src="assets/images/general/long.png" alt="">

<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 text-center">
      <h5>Nuestas oficinas</h5>
      <p>Calle Sucre 117 entre Av. América y Juan de la Rosa
        Cochabamba - Bolivia
      </p>
      <p>Edif. Santander, piso 16 entre Calle Arsenal entre Av. Quevedo
        Bogotá - Colombia
      </p>
      <br>
      <h5>Información de contactos</h5>
      <p>Cochabamba - Bolivia: +591 76682121</p>
      <p>Ocaña - Colombia: +57 315 3482121</p>
      <p>Bogotá - Colombia: +57 314 3766122</p>
      <br>
      <h5>Correo</h5>
      <p>zadial@gmail.com</p>
    </div>
  </div>
</div>


</body>
</html>
