<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bol</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="pb-5">
<h1 class="justify-content-center text-center py-2" [style.color]="tituloColor">{{lugar}}</h1>
<app-carrouselb></app-carrouselb>
<br>
<h5 class="text-center">
  <p>El
    <strong *ngIf="ocultonom" class="text-center">{{nomlug}}</strong> es una inmensa planicie en forma de desierto de sal situada a más de 3.600 metros sobre el nivel del mar.
    <br>
    Se trata de un desierto de sal de más de más de 10 000 km. Es una de las mayores reservas de litio del planeta.<br>
    Es la primera de las 25 maravillas naturales del planeta.
  </p>
</h5>
<br>
<app-cardsb></app-cardsb>
</div>

</body>
</html>
