<div class="container py-4">
  <div class="row justify-content-center text-center">

    <div class="col-md-6 col-sm-12 col-lg-12">
      <div class="card">
        <h4 class="card-title py-3">¿Qué visitar?</h4>
        <p class="card-text">La autenticidad del destino, un transporte asequible y la amabilidad de los locales hacen que cada uno de los lugares visitados sea único. Existe variedad en los días de travesía según el tour elegido.</p>
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/images/uyuni3.jpeg" class="card-img-top" alt="auto">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/uyuni5.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/salar9_1.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/salar16.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">La autenticidad del destino, un transporte asequible y la amabilidad de los locales hacen que cada uno de los lugares visitados sea único. Existe variedad en los días de travesía según el tour elegido.</p>
        </div>
      </div>
    </div>

    <br>

    <div class="col-md-6 col-sm-12 col-lg-6 py-4">
      <div class="card">
        <h5 class="card-title py-3">¿Cómo llegar?</h5>
        <img [src]="imgllb" class="card-img-top" alt="hosp" height="250rem">
        <div class="card-body">
          <p class="card-text">Situado en Potosí, al sur de Bolivia.
            Se trata de una zona de difícil acceso, por lo que la mayoría de los visitantes
            lo hacen con un tour organizado desde diferentes puntos de la región sudamericana.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6 col-sm-12 col-lg-6 py-4">
      <div class="card">
        <h5 class="card-title py-3">¿Dónde hospedarse?</h5>
        <img [src]="imghb" class="card-img-top" alt="..." height="250rem">
        <div class="card-body">
          <p class="card-text">
            Existen diferentes opciones donde quedarse, ya sea en la ciudad o en alguno de los hoteles de sal
            situados en Colchani (cerca de la ciudad de Uyuni) y, prácticamente, sobre el Salar de Uyuni.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6 col-sm-12 col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-4">
            <img src="assets/images/uyuni-food.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-4">
            <img src="assets/images/uyuni-food1.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-4">
            <img src="assets/images/uyuni-food3.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">¿Qué comer?</h5>
          <p class="card-text">La mayoría de los restaurantes superan las expectativas, estos suelen ofertar una cocina internacional apta para todos los paladares. Aunque el verdadero encanto son los platos de la cocina tradicional.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<!--TRANSPORTE-->
<div [ngClass]="oculto ? 'hidden' : 'unhidden'">
  <h1 class="justify-content-center text-center py-2">SALAR DE UYUNI - Transporte</h1>
  <img src="assets/images/salar3_1.jpeg" class="d-block w-100" alt="...">

<!---->
<div class="container py-3">
  <div class="row">
    <div class="col">
      <p class="text-center">
        <b>Transporte hasta Uyuni, ¿cómo llegar?</b><br>
        El lugar ideal para contratar el tour por el Salar de Uyuni es la propia localidad de Uyuni pues al haber más competencia entre agencias los precios son más baratos que si haces el tour desde Tupiza (en toda la región hay hasta 60 agencias operadoras). Para llegar a Uyuni puedes hacerlo bien desde Villazón (frontera con Argentina), desde La Paz o desde Potosí.
        <br>
        Desde Villazón a Uyuni:<br>
        Bus: 35 Bolivianos 12 horas (via Tupiza sobre una carretera infernal y no recomendable)<br>
        Tren: 56 Bolivianos 9 horas (tren turístico relativamente cómodo)<br>
        Desde La Paz a Uyuni:<br>
        Bus: 270 Bolivianos 12 horas de trayecto nocturno (bus turístico con todas las comodidades)<br>
        Desde Potosí a Uyuni:<br>
        Bus: 30 Bolivianos 4 horas de trayecto (bus local)
      </p>
    </div>
  </div>
</div>
</div>
<!--    -->
