<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Uyuni</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container py-4">
  <div class="row justify-content-center text-center">

    <div class="col-md-6 col-sm-12 col-lg-12">
      <div class="card">
        <h4 class="card-title py-3">{{preg1}}</h4>
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/images/bol/uyuni3.jpeg" class="card-img-top" alt="auto">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/bol/uyuni5.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/bol/salar9_1.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-3">
            <img src="assets/images/bol/salar16.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">La autenticidad del destino, un transporte asequible y la amabilidad de los locales hacen que cada uno de los lugares visitados sea único. Existe variedad en los días de travesía según el tour elegido.
            Entre los lugares para visitar se encuentran: Las momias y árbol de piedra, el cementerio de trenes,
            la laguna celeste y colorada, flamencos, la Isla de Incahuasi, Geysers, Desierto de Salvador Dalí, Salar de Uyuni, Volcán Uturunku, y más.
          </p>
        </div>
      </div>
    </div>

    <br>

    <div class="col-md-6 col-sm-12 col-lg-6 py-4">
      <div class="card">
        <h5 class="card-title py-3">{{preg2}}</h5>
        <img src="assets/images/bol/btransp.jpg" class="card-img-top" alt="transporte">
        <div class="card-body">
          <p class="card-text">Situado en Potosí, al sur de Bolivia.
            Se trata de una zona de difícil acceso, por lo que la mayoría de los visitantes
            lo hacen con un tour organizado desde diferentes puntos de la región sudamericana.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6 col-sm-12 col-lg-6 py-4">
      <div class="card">
        <h5 class="card-title py-3">{{preg3}}</h5>
        <img src="assets/images/bol/salar-hotel.jpg" class="card-img-top" alt="hosp">
        <div class="card-body">
          <p class="card-text">
            Existen diferentes opciones donde quedarse, ya sea en la ciudad o en alguno de los hoteles de sal
            situados en Colchani (cerca de la ciudad de Uyuni) y, prácticamente, sobre el Salar de Uyuni.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6 col-sm-12 col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-4">
            <img src="assets/images/bol/uyuni-food2.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-4">
            <img src="assets/images/bol/uyuni-food1.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-4">
            <img src="assets/images/bol/uyuni-food3.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{preg4}}</h5>
          <p class="card-text">La mayoría de los restaurantes superan las expectativas, estos suelen ofertar una cocina internacional apta para todos los paladares. Aunque el verdadero encanto son los platos de la cocina tradicional, como el Api con pastel, bebida caliente de maiz para el clima frío,
            la tradicional Quinoa, o la sopa de piedra llamada Kalapurka propia de Potosí.
          </p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

</body>
</html>
