<div class="container">
  <div class="row justify-content-center text-center">

    <div class="col-md-6 col-sm-12 col-lg-3">
      <div class="card">
        <img src="assets/images/uyuni1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <br>

    <div class="col-md-6 col-sm-12 col-lg-3">
      <div class="card">
        <img src="assets/images/uyuni3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <br>

    <div class="col-md-6 col-sm-12 col-lg-3">
      <div class="card">
        <img src="assets/images/uyuni5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <br>

    <div class="col-md-6 col-sm-12 col-lg-3">
      <div class="card">
        <img src="assets/images/uyuni8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <br>


  </div>
</div>
